/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variables css - Fonts */
:root {
  --header-height: 3.5rem;
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);
  /* font and typography 
    /.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* BASE Ends */

/* Reusable Css Classes */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}
/* Reusable Css Classes Ends */

/* navbarSection */
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav_-close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__toggle::-moz-focus-inner {
  display: none;
}

/* Mobile Nav */
@media screen and (max-width: 1023px) {
  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -200%;
    left: 0px;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top 0.4s;
  }
  #nav-menu {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  #nav-menu.show-menu {
    opacity: 1;
    transform: translateY(0);
  }

  .show-menu {
    margin-top: 200px;
    transition: top 0.4s;
    width: 100%;
    margin-left: -3%;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Mobile Nav Ends */

/* .navbar {
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.navbar a:hover {
  background-color: #575757;
  transform: translateY(-2px);
}

.navbar a.active {
  background-color: #04aa6d;
}

.navbar a:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(4, 170, 109, 0.5);
}

.navbar::after {
  display:flex;
  flex-direction: column-reverse;
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to right, #04aa6d, #575757);
  margin-top: -4px;
}

.navbar a::before {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #04aa6d;
  transition: width 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar a:hover::before {
  width: 100%;
} */
/* navbarSection Ends*/
